.footer-container {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.footer {
  padding: 10px;
  display: flex;
  gap: 20px;
}

.searchForm {
  grid-row: 1 / -1;
  grid-column: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.select-dropdown {
  border-style: none;
  border-radius: 15px;
  padding: 8px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
}

.dropdown-search-btn,
.user-setting-btn {
  border-style: none;
  font-size: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.1s;
}

.dropdown-search-btn:hover {
  transform: scale(1.05);
  background-color: rgb(255, 222, 227);
}

.user-setting-btn:hover {
  transform: scale(1.05);
  background-color: rgb(222, 240, 255);
}

@media screen and (min-width: 750px) and (max-width: 1000px) {
  .footer {
    overflow: scroll;
  }
}
