* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  box-sizing: border-box;
  background-color: aliceblue;
  color: rgb(77, 77, 77);
}

.wrapper-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 2% 0;
  height: 2rem;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}

.Header {
  align-items: center;
  justify-content: center;
}

.hamburger {
  position: absolute;
  right: 3%;
}
